body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .section1 {
    padding: 10px 0px 10px;
    align-items: center;
    text-align: center;
    color: rgb(10, 8, 8);
    font-weight: 400;
    background-color: rgb(255, 226, 64);
  }

  .section2 {
    color: aliceblue;
    text-align: center;
    align-items: center;
    padding: 10px 0px;
    background-image: url(https://img.freepik.com/free-vector/grey-hexagons-black-background_78370-2098.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section3 {
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(120deg, #ff9a9e, #fad0c4, #fbc2eb, #fbc2eb);
  }
  .section4 {
    background-image: url(https://images.pexels.com/photos/96627/pexels-photo-96627.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: repeat;
    background-size: 400px;
    opacity: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 0px;
  }